<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProfile</title>
    <link rel="stylesheet" href="global.css">
    <script src="https://kit.fontawesome.com/81b1e7371a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="myProfile.css">
    <script >
        var profilepic = '<%= profilepic %>';
    </script>
</head>

<body>

    <nav>
        <i class="fa-solid fa-bars fa-xl" id="navicon" style="color: #ffffff;"></i>
        <div id="navlinks">
            <a href="/">Start</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/impressum">Impressum</a>
            <% if(typeof username !== 'undefined'){ %>
                <a href="/myProfile" id="loggedin">Logged in as: <%= username %></a>
            <% }else{ %>
                <a href="/login" id="loggedin">Not logged in</a>
            <% } %>
        </div>
        <h1 id="title">biChess</h1>

    </nav>
    <div id="maininfos">
        <img id="profilepic" alt="" width="160" height="160" id="pb">
        <h2 id="usernametitle">
            <%= username %>
        </h2>
        <span id="rank">(<%=ranking %>)</span>
        <% if(typeof flag !=='undefined' ){ %>
            <span id="flag">
                <%= flag %>
            </span>
            <% } %>
                <i class="fa-solid fa-pen-to-square" id="edit" style="color: #ffffff;"></i>
    </div>

    <div id="editProfile" class="hidden">
        <div id="editHeader">
            <h2>Edit Profile</h2>
            <i class="fa-solid fa-xmark" id="closeEdit"></i>
        </div>
            <form id="editForm">
            <div id="editImage">
                <input type="file" id="imgUpload" name="imgUpload" accept="image/*">
            </div>
            <div class="editdiv">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="<%= username %>" required>
            </div>
            <div class="editdiv">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= email %>" required>
            </div>
            <div class="editdiv">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" value="">
            </div>
            <div class="editdiv">
                <label for="password2">Repeat Password</label>
                <input type="password" name="password2" id="password2" value="">
            </div>
            <div class="editdiv" id="btndiv">
                <button id="editbtn" type="submit">Save</button>
            </div>
        </form>
    </div>

    <script>
        function showNotify() {
            Metro.notify.create("This is a notify", "Title", {});
        }
    </script>

    <script src="myProfile.js"></script>
    <script src="global.js"></script>
</body>

</html>